.west-page {
   padding: 50px 70px;
  background: linear-gradient(to bottom, #e0f7fa, #ffffff); /* icy gradient */
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.west-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 1px;
  color: #0277bd; /* winter blue */
  text-shadow: 1px 1px 2px #b3e5fc;
}

/* GRID */
.west-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

/* CARD */
.west-card {
  cursor: pointer;
}

.west-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.3s;
}

.west-card:hover img {
  transform: scale(1.05);
}

.west-card h4 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}

.west-card p {
  font-size: 15px;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .west-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .west-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
